.contenedorAbout{
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 97vw;

    margin: auto;

     
    

}

h2{
    font-weight: bold; 
    font-size: 40px;
    font-style: italic;

    border-bottom: 1px solid rgb(35 56 118) ;
    position: relative;
    top:-50px;
    left: -310px;

    animation: deslizar-izquierda 1s ease-in-out forwards;

}

.acercaDeMi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;

    width: 60vw;
    height: 100vh;
     
    position: sticky;
    

    text-align: left;

    animation: deslizar-izquierda 1s ease-in-out forwards;
    
}

.mail{
    margin: 10px;
    position: relative;

    left: -220px;
    top: -50px;

    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;


    animation: deslizar-izquierda 1s ease-in-out forwards;

}

.textoAcerca{
    font-size: 18px;
    color: white;
    
    animation: deslizar-izquierda 1s ease-in-out forwards;

}




.ContenedorImagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 100vh;

    animation: deslizar-derecha 1s ease-in-out forwards;
}

@keyframes deslizar-izquierda {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes deslizar-derecha {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

