.contenedorAbout{
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 97vw;

    margin: auto;

    

}

h2{
    font-weight: bold; 
    font-size: 40px;
    font-style: italic;

    border-bottom: 1px solid rgb(35 56 118) ;
    position: relative;
    top:-50px;
    left: -310px;

    

}

.acercaDeMi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;

    width: 60vw;
    height: 100vh;
     
    position: sticky;
    

    text-align: left;

    
}

.mail{
    margin: 10px;
    position: relative;

    left: -220px;
    top: -50px;

    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;


    

}

.textoAcerca{
    font-size: 18px;
    color: white;
    

}




.ContenedorImagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 100vh;

    
}

