<div class="contenedorAbout">

    <main class="acercaDeMi">
        <!--Acá va el texto acerca de mi-->
        <h2 class="text-white">ABOUT</h2>
        <p class="mail">agustinfernandez43tb&#64;gmail.com</p>

        <p class="textoAcerca">
            Soy estudiante de la Tecnicatura Superior en Desarrollo de Software, con sólidos conocimientos en diversas tecnologías como Angular, HTML, CSS, JavaScript, Java, TypeScript, SQL, Bootstrap y Tailwind.
            Aunque estoy formándome como desarrollador fullstack, tengo un interés especial por el desarrollo frontend, área en la que busco profesionalizarme una vez finalizados mis estudios.

            Mi experiencia en proyectos aún es breve, destacando una página web creada para una peluquería local, en la que puse en práctica habilidades técnicas y de diseño enfocadas en la experiencia del usuario.
            Me comprometo a crear soluciones eficientes y estéticas, manteniéndome en constante aprendizaje para optimizar cada vez más mis capacidades y contribuir a proyectos de calidad.
            
        </p>

    </main>

    <div   class="ContenedorImagen" >


    </div>




</div>
